<!DOCTYPE html>
<html>
<head>
	<title>Error Page</title>

	<link rel="stylesheet" href="/2022agorbane/css/index.css">

</head>
<body>
	<div class="topnav" id="myTopnav">
		<a href="/2022agorbane/">Home</a>
		<a href="/2022agorbane/labs">Labs</a>
		<a href="./profile">Profile</a>
		<a href="javascript:location.reload (false)" class = "active">Error Page</a>
		<div class="unhyperlinkedNav">Alyssa Gorbaneva's Website</div>
	</div>

	<h1>Error page!</h1>
    <p>Error: {{error}}</p>

</body>
</html>