<!DOCTYPE html>
<html>
<head>
	<title>House Points</title>

	<link rel="stylesheet" href="/2022agorbane/css/index.css">

</head>
<body>
	<div class="topnav" id="myTopnav">
		<a href="/2022agorbane/">Home</a>
		<a href="/2022agorbane/labs">Labs</a>
		<a href="./profile">Profile</a>
		<a href="javascript:location.reload (false)" class = "active">House Points</a>
		<div class="unhyperlinkedNav">Alyssa Gorbaneva's Website</div>
	</div>

    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-0lax">troll</th>
        <th class="tg-0lax">princess</th>
        <th class="tg-0lax">spider</th>
        <th class="tg-0lax">bird</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0lax">troill_points</td>
        <td class="tg-0lax">princess_points</td>
        <td class="tg-0lax">spider_points</td>
        <td class="tg-0lax">bird_points</td>
      </tr>
    </tbody>
    </table>

</body>
</html>