<!DOCTYPE html>
<html>
<head>
	<title>Alyssa Gorbaneva's Page</title>
	
	<link rel="stylesheet" href="./css/index.css">

</head>
<body>
    
	<div class="topnav" id="myTopnav">
      <a href="./" class="active">Home</a>
      <a href="./labs">Labs</a>
      <a href="./profile">Profile</a>
      <div class="unhyperlinkedNav">Alyssa Gorbaneva's Website</div>      

    </div>
    
    <h1 id="top">Thank you for checking out my page</h1>

	<p>I appreciate everyone who came to check out the site.</p>

	<h2 id="about">About Me</h2>
	
	<p>Hi! My name is Alyssa Gorbaneva, and I am a junior at Thomas Jefferson High School. 
	I love computer science and math. I like to read in my free time.<br><br> I have two bunnies,
	Kosmos (Kosya) and Finley (Fin). They're still just baby rabbits.</p>
	
	<img src="./img/bunny_pic.jpg" width=300px height=200px alt="Picture of my two bunnies.">
	
	<h2>My Labs</h2>
	<p>I will be using this page to compile some of the labs I have coded in Web Development, taught by Mr. Kosek at TJHSST. 
	Each lab will have a difficulty rating and a short description for easier navigation.</p>
	
</body>
</html>