<!DOCTYPE html>
<html>
<head>
	<title>My Labs</title>
	
	<link rel="stylesheet" href="./css/index.css">
</head>
<body>
    
	<div class="topnav" id="myTopnav">
      <a href="./">Home</a>
      <a href="./labs" class="active">Labs</a>
      <a href="./profile">Profile</a>
      <div class="unhyperlinkedNav">Alyssa Gorbaneva's Website</div>      

    </div>
    
	<h1>Welcome to my labs</h1>
	
    <p>I've worked pretty hard on these labs. After each one, I will put a difficulty rating I have personally chosen
    and a slight explanation of the lab itself.</p>
	
  	<h2 id="lab2">Lab 2: Number Facts</h2>
  
	    <a href="./lab2/put_number_here">Lab 2 Link</a>
	    
	    <p>Difficulty rating: 7<br><br>This link should lead you to an error page that tells you the instructions to the lab. 
	    You get to put numbers in the URL and get facts about them written by me! The facts are mostly true.</p>

    <h2>Lab 3: Get Weather Report</h2>

    	<a href="./getweather">Lab 3 Link</a>

    	<p>Initial difficulty rating: 9<br><br>These difficulty ratings are a bit inflated, but the middleware functions really got to me for a bit. This link should lead you to a weather report from latitute and longitude coordinates 42.9356 and -78.8692 respectively by default. However, if you want a different weather report at a US location of your choosing, specify the coordinates with ?=lat & =long.

    	<p> Click <a href="./weatherform"> this link</a> for the weather report as a form instead of changing the URL.

    	<p> Creating the form version of only having to type in the inputs as numbers instead of having to edit the URL was pretty simple. 

	<h2> Lab 4: Fun Form </h2>
	
	    <a href="./funform">Lab 4 Link</a>
	    <p>Difficulty rating: 7 </p>
	    <p>The form was not that hard but I spent two hours looking for a missing '/' and another minor error, so take this high difficulty rating. That might have also affected the type of form result you will see. Have fun!</p>

    <h2> Lab 5: ION Profile</h2>
    
        <p>Difficulty rating: 5 </p>
        <p>While the concept of OAuth was foreign to me and hard to understand, the actual coding felt okay once I grasped the idea of a login worker and redirect page. Click the Profile tab at the top to log in with ION!</p>

    <h2> Lab 6: SQL Database Profile Counter</h2>
    
        <p>Difficulty rating: 7 </p>
        <p>I got pretty stuck on SQL at first. After some more query practice, it became much easier.</p>

</body>
</html>