<!DOCTYPE html>
<html>
<head>
	<title>Log-In Profile</title>
	
	<link rel="stylesheet" href="./css/index.css">
	
</head>
<body>
    
	<div class="topnav" id="myTopnav">
      <a href="./">Home</a>
      <a href="./labs">Labs</a>
      <a href="./profile" class="active">Profile</a>
      <div class="unhyperlinkedNav">Alyssa Gorbaneva's Website</div>      

    </div>
    
    
    <h2>Log-In Profile</h2>
	<p>
	Please click <a href="{{login_link}}">here</a> to log in with ION.

	</p>
</body>
</html>